@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #EEE;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: .1rem solid #000;
    color: #000;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: #FF8C00;
    color: #FFF;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #FFF;
    box-shadow: #000;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #000;
}

.header .navbar a:hover {
    color: #FF8C00;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #EEE;
    color: #000;
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}

.header .icons div:hover {
    background: #FF8C00;
    color: #FFF;
}

#menu {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #FFF;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: #FF8C00;
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: #000;
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: #000;
    cursor: pointer;
}

.header .search-form label:hover {
    color: #FF8C00;
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: #FF8C00;
    width: 30rem;
    background: #FFF;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 8rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: #808080;
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: #FF8C00;
}

.header .shopping-cart .box .content h3 {
    color: #000;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: #808080;
    font-size: 1.5rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: .1rem;
    color: #808080;
}

.header .shopping-cart .total {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: #000;
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

.header .login {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: #EEE;
    padding: 2rem;
    border-radius: .5rem;
    background: #FFF;
    text-align: center;
}

.header .login.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #000;
}

.header .login .box {
    width: 100%;
    margin: .7rem 0;
    background: #EEE;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: #808080;
    text-transform: none;
}

.header .login p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: #000;
}

.header .login p a {
    color: #FF8C00;
    text-decoration: underline;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {

    #menu {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: #EEE;
        border-radius: .5rem;
        background: #FFF;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading h3 {
    font-size: 5rem;
    color: #D2691E;
    font-weight: 600px;
}

.blog-heading h3 span {
    background: #FF8C00;
    padding: .1rem 3rem;
    clip-path: ellipse(45% 45% at 50% 50%);
    color: #FFF;
}

.section {
    width: 100%;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.section .container .image-section {
    float: right;
    width: 40%;
}

.section .container .image-section img {
    width: 100%;
    height: auto;
}

.section .container .content-section .info h3 {
    margin-top: 20px;
    font-size: 32px;
    color: #FF7F50;
}

.section .container .content-section .info h3 span {
    margin-top: 20px;
    color: #6495ED;
}

.section .container .content-section .info p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.section .container .content-section .info .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: .1rem solid #000;
    color: #000;
    cursor: pointer;
    background: none;
}

.section .container .content-section .info .btn:hover {
    background: #FF8C00;
    color: #FFF;
}