<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shopping - About </title>
    <link rel="icon" type="image/icon" href="/images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/aboutUs.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>
    <header th:replace="~{fragments/header}"></header>

    <section id="blog">
        <div class="blog-heading">
            <h3>About<span>Us</span></h3>
        </div>
        <br />
        <br />
        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div class="info">
                        <h3>Shop with pleasure at <span>Shopping</span></h3>
                        <p>Make a gift for yourself or a loved one in Shopping. Here you will find the best, high
                            quality technology at super prices. We work with world-famous partners such as Samsung,
                            Acer, Asus, Apple, Huawei and many others. We have been in business for 5 years, but we are
                            growing every day. Our sponsors are Samsung and Acer who have provided the latest and most
                            advanced phones and laptops on the market that you can only get from us. You can buy your
                            product online or in our stores in Montana and Vratsa.</p>
                        <div>
                            <a class="btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image-section">
                    <img src="/images/aboutUsPics.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/js/shopping.js"></script>
</body>

</html>